.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.navbarLogo img {
  height: 35px;
}
.navbarUl {
  display: flex;
  justify-content: space-between;
}
.navbarUl li {
  list-style: none;
  padding: 5px;
}
.navbarUl li a {
  color: #fff;
  text-decoration: none;
}
.navbarUl li a:hover {
  color: #fcaf3c;
  font-weight: 500;
}
nav a.active {
  color: #fcaf3c;
  font-weight: 500;
  border-bottom: #fff 2px solid;
}
.heroSection {
  background: linear-gradient(to bottom, rgba(34, 34, 34, 0.9), rgba(167, 75, 75, 0.9));
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
}
.heroSectionOverlayText {
  padding: 1rem;
  position: relative;
  background: url("../public/Images/circular-bg.png") no-repeat;
  display: flex;
  flex-direction: column;
  text-align: start;
}
/* .heroSection .heroImage img{
  margin-top: 2rem;
} */
/* trainer card */
.trainerCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  max-width: 340px;
  margin-left: 10px;
  text-align: center;
}

.trainerPhoto {
  width: 100%;
  height: 45%;
  aspect-ratio: 1/1;
  margin-right: 15px;
}

.trainerContactBtn {
  background-color: #000;
  color: #fff;
  margin-top: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.trainerContactBtn:hover {
  background-color: #606060;
  color: #fff;
}

.specialties {
  font-weight: bold;
}
.trainer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.subscriptionCard {
  border: 1px solid #ccc;
  color: #f0f8ff;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.subscriptionCard:nth-child(odd) {
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.9);
}
.subscriptionCard:nth-child(odd):hover {
  box-shadow: 3px 2px 5px rgba(255, 255, 255, 0.7);
}
.subscriptionCard:nth-child(even) {
  height: 95%;
  box-shadow: 2px 1px 3px rgba(255, 255, 255, 0.7);
  transform: translate(0, -10px);
  rotate: 2.5deg;
}
.subscriptionCard:nth-child(even):hover {
  height: 95%;
  transform: translate(0, 10px);
  rotate: 0deg;
}

.subscriptionCard .featuredCard {
  background-color: #f0f8ff;
  border-color: #007bff;
}

.featuredCard .price {
  font-size: 20px;
  font-weight: bold;
}
.membership-subsciption-grid {
  display: grid;
  padding: 25px;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.subscriptionCard .benefitsList {
  list-style-type: disc;
  margin-top: 15px;
  padding: 10px;
  height: 100px;
}

.btn {
  margin-top: 10px;
  background: #b4beae;
  background-image: -webkit-linear-gradient(top, #5bf700, #151f26);
  background-image: -moz-linear-gradient(top, #5bf700, #151f26);
  background-image: -ms-linear-gradient(top, #5bf700, #151f26);
  background-image: -o-linear-gradient(top, #5bf700, #151f26);
  background-image: linear-gradient(to bottom, #5bf700, #151f26);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 10px;
}

.btn:hover {
  background: #fcaf3c;
  background-image: -webkit-linear-gradient(top, #fcaf3c, #3498db);
  background-image: -moz-linear-gradient(top, #fcaf3c, #3498db);
  background-image: -ms-linear-gradient(top, #fcaf3c, #3498db);
  background-image: -o-linear-gradient(top, #fcaf3c, #3498db);
  background-image: linear-gradient(to bottom, #fcaf3c, #3498db);
  text-decoration: none;
}

/* footer starts here */
.footerContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
}
.footerLinks {
  display: flex;
  flex-direction: column;
}
.footerSocial {
  display: flex;
  flex-direction: column;
}
.footerLinks,
.footerSocial {
  color: #eb0349;
}

/* login/signup */
login {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/Images/gym-amm.jpg");
}
.main {
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
login>label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
login>input {
  width: 60%;
  height: 30px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.signupbtn {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.signupbtn:hover {
  background: #6d44b8;
}
.login {
  height: 460px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: #573b8a;
  transform: scale(0.6);
}
#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}
/* testimonials */
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  position: relative;
}
.testimonialsContainer {
  background: #f0f8ff;
  padding: 10px;
  border-radius: 5px;
}
.testimonial-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin: 15px;
}

.testimonial-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-buttons button {
  padding: 8px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  top: 50%;
  font-size: 11px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  transition: background-color 0.3s ease;
}
.testimonials-prev-btn {
  left: 0.65%;
}
.testimonials-next-btn {
  right: 0.65%;
}
button:hover {
  background-color: #0056b3;
}

.testimonial-text {
  font-style: italic;
}

.testimonial-name {
  font-weight: bold;
}

/* slider carousel service */
.carousel {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
}

.carousel-item img {
  display: none;
  height: 500px;
}

.carousel-item .active {
  display: block;
  opacity: 1;
  width: 100%;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.next-btn,
.prev-btn {
  display: inline-block;
}

/* services */

.overviewService {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  padding: 5px;
}
.overviewService img {
  object-fit: cover;
  border-radius: 6px;
}
.textGrid {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(169, 168, 191, 1) 100%);
  color: white;
  text-align: center;
  margin-left: -15%;
  padding: 20px;
  font-size: 20px;
  line-height: 1.5;
}
.textGrid:nth-child(even){
  font-style: italic;
  margin-left: 1%;
}
.textGrid:nth-child(odd){
  font-weight: bold;
  margin-left: 0%;
}
.servicesImgContainer {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.imgContainer {
  position: relative;
  overflow: hidden;
}

.imgContainer img {
  border: 4px solid #fcaf3c;
  border-radius: 6px;
  width: 100%;
  height: auto;
  cursor: pointer;
  display: block;
  transition: transform 0.3s ease;
}
.imgContainer img:hover {
  transform: scale(1.1);
}

.imgDescription {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  font-weight: 600;
}
hr{
  border: 1px solid #fcaf3c;
  margin: 0 auto;
}
.imgContainer:hover .imgDescription {
  transform: translateY(0);
}
.headlineClass , .cardHeader{
  background-color:rgb(167, 149, 167);
  color: #fff;
  padding: 10px 5px;
}
.cardHeader{
  padding: 5px 3px;
}
/* contact */
.contactContainerGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:rgba(129, 65,65,0.9);
  height: 50vh;
  padding: 10px;
}

.contactForm{
  display: grid;
  max-width: 350px;
  grid-template-columns:1fr;
}
.contactForm input{
  width: 100%;
  padding: 15px;
  margin: 10px;
  height: 15px;
  outline: none;
  border: none;
  border-radius: 4px;
}
.contactForm div{
  display: flex;
}
.contactForm textarea{
  width: 100%;
  padding: 10px;
  margin: 10px;
  height: 100px;
  outline: none;
}
.contactForm label{
  color: #fff;
  font-weight: 400;
  margin-top: 13px;
}
.contactForm button{
  background-color:#fff;
  color: #000;
  padding: 5px;
  border: none;
  width: 100px;
  align-self: center;
  height: 30px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  float: center;
  margin-left: 70%;
}
.contactContainer{
  display: grid;
  text-align: left;
  color: #fff;
  font-weight: 500;
}
